<ion-view view-title="Módulos">
 <ion-content>
    <div class="sideMenuContent"></div>
    <div class="mode-content">
      <div class="mode-block">
        <div class="box">
          <h4>Módulo de Consultoria</h4>
          <div class="icon"></div>
          <div class="button-block">
             <button ng-click="">Entrar</button>
          </div>
        </div>
      </div>
      <div class="mode-block">
        <div class="box">
          <h4>Módulo de Coordenadoria</h4>
          <div class="icon"></div>
          <div class="button-block">
             <button ng-click="">Entrar</button>
          </div>
        </div>
      </div>
    </div>  
  </ion-content>
</ion-view>