<ion-view view-title="Nova instituição" name="regInstOP-view">
  <ion-pane>
      <ion-content>
        <div class="login-block">
          <h1>Cadastrar Orgão Público</h1>
          <form name="newOPForm" id="OPForm">
            <input type="text" value="" placeholder="Razão Social"  ng-model="inst.RS" required="required"/>
            <input type="text" value="" placeholder="Nome Fantasia"  ng-model="inst.NF" required="required"/>
            <input type="text" value="" placeholder="CNPJ" ng-model="inst.CNPJ" required="required"/>
            <input type="text" value="" placeholder="Cidade" ng-model="inst.Cidade" required="required"/>
            <input type="text" value="" placeholder="Estratificação" ng-model="inst.Estrat" required="required"/>
            <input type="text" value="" placeholder="Modalidade" ng-model="inst.Modal" required="required"/>
            <input type="text" value="" placeholder="Especificação" ng-model="inst.Espec" required="required"/>
            <input type="text" value="" placeholder="Potencial" ng-model="inst.Poten" required="required"/>
            <input type="text" value="" placeholder="Escala de Relacionamento" ng-model="inst.EscRel" required="required"/>
            <input type="text" value="" placeholder="Compra Média" ng-model="inst.CMed" required="required"/>
            <input type="text" value="" placeholder="Última Compra" ng-model="inst.UComp" required="required"/>
            <!-- Dados Específicos -->
            <input type="text" value="" placeholder="Sistema" ng-model="inst.Sist" required="required"/>
            <div class="button-block">
              <button ng-click="regNewOP()">Cadastrar</button>
            </div>
          </form>
        </div>
      </ion-content>
  </ion-pane>
</ion-view>
