<ion-view view-title="Home">
 <ion-content>
    <div class="sideMenuContent"></div>
     <h1>Home</h1>
     <div class="button-block">
        <button ng-click="">Cadastrar Usuario</button>
     </div>
     <div class="button-block">
        <button ng-click="">Alterar Usuario</button>
     </div>
     <div class="button-block">
        <button ng-click="regInst()">Cadastrar Instituição</button>
     </div>
     <div class="button-block">
        <button ng-click="">Alterar Instituição</button>
     </div>
     <div class="button-block">
        <button ng-click="">Relatórios</button>
     </div>
    </div>
  </ion-content>
</ion-view>
