/* Empty. Add your own CSS if you like */

.logo {
    width: 213px;
    height: 36px;
    background: url('http://i.imgur.com/fd8Lcso.png') no-repeat;
    margin: 30px auto;
}

.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #092461; /*#ff656c;*/
    margin: 0 auto;
    font-family: Montserrat;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #092461; /*#ff656c;*/
}

.button-block {
    width: 100%;
    height: 60px;
}

.button-block button {
    width: 100%;
    height: 40px;
    background: #092461; /*#ff656c;*/
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #133175;/*#e15960;*/
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.button-block button:hover  {
    background: #20418E;/*#ff7b81;*/
}

.sideMenuContent {
    margin-top: 10%;
}

.mode-content {
    margin: auto;
    padding-left: 35%;
}

.mode-block {
    width: 25%;
    background:#f6f6f6;
    text-align:center;
    padding:20px;
    margin-left: auto;
    margin-bottom:20px;
    display: inline-block;
}

* --- box --- */

.box {
    width: 100%;
}
.box-gray  {
    text-align: center;
    background: #f8f8f8;
    padding: 20px 20px 30px;
}
.box-gray  h4,.box-gray  i {
  	margin-bottom: 20px;
}
.box-bottom {
  	padding: 20px 0;
  	text-align: center;
}
.box-bottom a {
  	color: #fff;
  	font-weight: 700;
}
.box-bottom a:hover {
  	color: #eee;
  	text-decoration: none;
}

.icon{
    margin: 10px 10px 10px 0;
    display: inline-block !important;
    text-align: center !important;
    color: #fff;
    width: 68px;
    height: 68px;
    padding:12px;
    font-size: 16px;
    font-weight:700;
    line-height: 68px;
    text-shadow:none;
    cursor: pointer;
    background-color: #20418E;/*#FF7B81;*/
    border-radius: 64px;
}
